## Haiti Health Data Analysis

You are an analyst working at a health research company in Haiti.  The government has asked your company to analyze data related to covid-19.  To that end, they have provided you with access to health data.

Your goal as a Data Manager is to provide
*  Relational Database to manage all the data collection
* Use SQL Language to answers some query provided from the Board
* Build a dashboard with Power BI to illustrate all the activites of covid

Here all the dataset used for this project

In [1]:
import pandas as pd
import numpy as np

covid_cases = pd.read_csv("./datasets/mspp_covid19_cases.csv")
display(covid_cases.head(10))
covid_cases.info()

,Unnamed: 0,departement,cas_suspects,cas_confirmes,deces,taux_de_letalite,document_date
0,0,Artibonite,47,4,0,0.00,2020-04-15
1,1,Centre,14,1,0,0.00,2020-04-15
2,2,Grande'Anse,2,0,0,0.00,2020-04-15
3,3,Nippes,16,2,0,0.00,2020-04-15
4,4,Nord,28,0,0,0.00,2020-04-15
5,5,Nord-Est,24,7,2,0.29,2020-04-15
6,6,Nord-Ouest,7,1,0,0.00,2020-04-15
7,7,Ouest,317,24,1,0.04,2020-04-15
8,8,Sud,8,0,0,0.00,2020-04-15
9,9,Sud-Est,22,4,0,0.00,2020-04-15

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        99 non-null     int64
 1   departement       99 non-null     object
 2   cas_suspects      99 non-null     int64
 3   cas_confirmes     99 non-null     int64
 4   deces             99 non-null     int64
 5   taux_de_letalite  99 non-null     float64
 6   document_date     99 non-null     object
dtypes: float64(1), int64(4), object(2)
memory usage: 5.5+ KB

In [2]:

spa = pd.read_csv("./datasets/spa.csv")
display(spa.head())
display(spa.info())
map_dict = {1: 'public',2: 'private non profit',3: 'private with profit',4 : 'private and public'}
map_dict

,Unnamed: 0,index,facil,depart,departn,vilcom,vilcomn,factype,facdesc_1,facdesc,mga,service_laboratory,num_beds,ambulance,full_time
0,0,0,1,1,Ouest,11,Port-Au-Prince,7.0,DISPENSAIRE,DISPENSAIRE,3,1.0,NaN,3.0,5.0
1,1,1,2,1,Ouest,11,Port-Au-Prince,3.0,HOPITAL,HOPITAL COMMUNAUTAIRE DE REFERENCE,1,1.0,25.0,3.0,18.0
2,2,2,3,1,Ouest,11,Port-Au-Prince,6.0,CENTRE DE SANTE SANS LIT,CENTRE DE SANTE SANS LIT,3,1.0,201.0,1.0,141.0
3,3,3,4,1,Ouest,11,Port-Au-Prince,5.0,CENTRE DE SANTE AVEC LIT,CENTRE DE SANTE AVEC LIT,3,1.0,7.0,3.0,13.0
4,4,4,5,1,Ouest,11,Port-Au-Prince,6.0,CENTRE DE SANTE SANS LIT,CENTRE DE SANTE SANS LIT,2,1.0,NaN,3.0,10.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1033 non-null   int64
 1   index               1033 non-null   int64
 2   facil               1033 non-null   int64
 3   depart              1033 non-null   int64
 4   departn             1033 non-null   object
 5   vilcom              1033 non-null   int64
 6   vilcomn             1033 non-null   object
 7   factype             1033 non-null   float64
 8   facdesc_1           1033 non-null   object
 9   facdesc             1033 non-null   object
 10  mga                 1033 non-null   int64
 11  service_laboratory  1007 non-null   float64
 12  num_beds            474 non-null    float64
 13  ambulance           1007 non-null   float64
 14  full_time           1007 non-null   float64
dtypes: float64(5), int64(6), object(4)
memory usage: 121.2+ KB

None

{1: 'public',
 2: 'private non profit',
 3: 'private with profit',
 4: 'private and public'}

In [3]:
spa.facdesc_1.value_counts()

CENTRE DE SANTE SANS LIT    375
DISPENSAIRE                 359
CENTRE DE SANTE AVEC LIT    165
HOPITAL                     134
Name: facdesc_1, dtype: int64

In [4]:

departement = pd.read_excel("./datasets/hti_adminboundaries_tabulardata.xlsx",sheet_name=1)
commune  = pd.read_excel("./datasets/hti_adminboundaries_tabulardata.xlsx",sheet_name=2)
display(departement.head(5))
display(departement.info())
display(commune.head(5))
display(commune.info())

,adm0code,adm0_en,adm0_fr,adm0_ht,adm1code,adm1_en,adm1_fr,adm1_ht,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male
0,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,5.010206e+06,2587360,2422846
1,HT,Haiti,Haïti,Ayiti,HT02,South-East,Sud-Est,Sidès,8.939007e+05,448111,445790
2,HT,Haiti,Haïti,Ayiti,HT03,North,Nord,Nò,1.159762e+06,589825,569932
3,HT,Haiti,Haïti,Ayiti,HT04,North-East,Nord-Est,Nòdès,4.444631e+05,221501,222966
4,HT,Haiti,Haïti,Ayiti,HT05,Artibonite,Artibonite,Latibonit,2.047153e+06,1034065,1013085

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adm0code                10 non-null     object
 1   adm0_en                 10 non-null     object
 2   adm0_fr                 10 non-null     object
 3   adm0_ht                 10 non-null     object
 4   adm1code                10 non-null     object
 5   adm1_en                 10 non-null     object
 6   adm1_fr                 10 non-null     object
 7   adm1_ht                 10 non-null     object
 8   IHSI_UNFPA_2019         10 non-null     float64
 9   IHSI_UNFPA_2019_female  10 non-null     int64
 10  IHSI_UNFPA_2019_male    10 non-null     int64
dtypes: float64(1), int64(2), object(8)
memory usage: 1008.0+ bytes

None

,adm0code,adm0_en,adm0_fr,adm0_ht,adm1code,adm1_en,adm1_fr,adm1_ht,adm2code,adm2_en,adm2_fr,adm2_ht,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male
0,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,,1.227540e+06,648353,579188
1,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0112,Delmas,Delmas,,4.914342e+05,258526,232908
2,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0113,Carrefour,Carrefour,,6.357646e+05,333500,302263
3,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0114,Petion-Ville,Pétion-Ville,,4.685251e+05,241407,227118
4,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0115,Kenscoff,Kenscoff,,7.140848e+04,35608,35800

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adm0code                140 non-null    object
 1   adm0_en                 140 non-null    object
 2   adm0_fr                 140 non-null    object
 3   adm0_ht                 140 non-null    object
 4   adm1code                140 non-null    object
 5   adm1_en                 140 non-null    object
 6   adm1_fr                 140 non-null    object
 7   adm1_ht                 140 non-null    object
 8   adm2code                140 non-null    object
 9   adm2_en                 140 non-null    object
 10  adm2_fr                 140 non-null    object
 11  adm2_ht                 140 non-null    object
 12  IHSI_UNFPA_2019         140 non-null    float64
 13  IHSI_UNFPA_2019_female  140 non-null    int64
 14  IHSI_UNFPA_2019_male    140 non-null    int64
dtypes: float64(1), int64(2), object(12)
memory usage: 16.5+ KB

None

# Questions

* Question 1: Create a relational database with this raw data set.
* Question 2. Calculate the number of health facilities per commune. 
* Question 3. Calculate the number of health facilities by commune and by type of health facility.
* Question 4. Calculate the number of health facilities by municipality and by department.
* Question 5: Calculate the number of sites by type (mga) and by department.
* Question 6: Calculate the number of sites with an ambulance by commune and by department (ambulance = 1.0).
* Question 7. Calculate the number of hospitals per 10k inhabitants by department.
* Question 8. Calculate the number of sites per 10k inhabitants per department 
* Question 9: Calculate the number of beb per 1,000 inhabitants per department.
* Question 10.How many communes have fewer dispensaries than hospitals?
* Question 11 How many  Letality rate per month
* Question 12 How many Death rate per month 
* Question 13 How many Prevalence per month 
* Question 14 How many Prevalence by department
* Question 15 What is the variation of the prevalence per week
* Question 16. Build a Power BI dashboard to understand the health structures in Hait

your Goal as  a Data Management is to

# Creation de tables

## Table dates

In [5]:
min_date = covid_cases.document_date.min()
max_date = pd.to_datetime("2021-12-12")

date_table=pd.DataFrame(pd.date_range(min_date, max_date),columns=["document_date"])
date_table["date_Id"]=date_table.document_date.apply( lambda x : int(str(x).replace("-","")[0:8]))
date_table.tail()

    document_date   date_Id
610    2021-12-08  20211208
611    2021-12-09  20211209
612    2021-12-10  20211210
613    2021-12-11  20211211
614    2021-12-12  20211212

In [6]:
date_table["year"]=date_table["document_date"].dt.year
date_table["month"]=date_table["document_date"].dt.month
date_table["quarter"]=date_table["document_date"].dt.quarter
date_table["quarter"]=date_table["quarter"].apply( lambda x: "Quarter" + str(x))
date_table["sem"]=date_table["document_date"].dt.isocalendar().week

In [7]:
date_table.set_index("date_Id", inplace=True)

In [8]:
date_table.head()

         document_date  year  month   quarter  sem
date_Id
20200407    2020-04-07  2020      4  Quarter2   15
20200408    2020-04-08  2020      4  Quarter2   15
20200409    2020-04-09  2020      4  Quarter2   15
20200410    2020-04-10  2020      4  Quarter2   15
20200411    2020-04-11  2020      4  Quarter2   15

## Table mga

In [9]:

mgaDF = []
for (x, y) in map_dict.items():
    mgaDF.append([x, y])
mga_table = pd.DataFrame(mgaDF, columns=["index", "mga_name"])
mga_table.set_index(keys="index", inplace=True,)

mga_table

                  mga_name
index
1                   public
2       private non profit
3      private with profit
4       private and public

# Data processing

## covid_cases Dataset

In [10]:
covid_cases.head()

,Unnamed: 0,departement,cas_suspects,cas_confirmes,deces,taux_de_letalite,document_date
0,0,Artibonite,47,4,0,0.0,2020-04-15
1,1,Centre,14,1,0,0.0,2020-04-15
2,2,Grande'Anse,2,0,0,0.0,2020-04-15
3,3,Nippes,16,2,0,0.0,2020-04-15
4,4,Nord,28,0,0,0.0,2020-04-15

In [11]:
covid_cases.drop(columns=["Unnamed: 0",], inplace=True)

In [12]:
covid_cases["date_Id"]=covid_cases.document_date.apply( lambda x : int(str(x).replace("-","")[0:8]))

In [13]:
covid_cases.drop(columns="document_date",inplace=True)

In [14]:
covid_cases.departement.unique()

array(['Artibonite', 'Centre', "Grande'Anse", 'Nippes', 'Nord',
       'Nord-Est', 'Nord-Ouest', 'Ouest', 'Sud', 'Sud-Est',
       'Grand Total ', 'Guest', 'Grand Total'], dtype=object)

In [15]:
covid_cases=covid_cases[-(covid_cases.departement=="Grand Total ")]
covid_cases=covid_cases[-(covid_cases.departement=="Grand Total")]
covid_cases=covid_cases[-(covid_cases.departement=="Guest")]

In [16]:
covid_cases1=pd.merge(covid_cases, departement,how="left", right_on="adm1_fr", left_on="departement")

In [17]:
covid_cases1.head()

,departement,cas_suspects,cas_confirmes,deces,taux_de_letalite,date_Id,adm0code,adm0_en,adm0_fr,adm0_ht,adm1code,adm1_en,adm1_fr,adm1_ht,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male
0,Artibonite,47,4,0,0.0,20200415,HT,Haiti,Haïti,Ayiti,HT05,Artibonite,Artibonite,Latibonit,2.047153e+06,1034065,1013085
1,Centre,14,1,0,0.0,20200415,HT,Haiti,Haïti,Ayiti,HT06,Centre,Centre,Sant,8.455942e+05,413649,431947
2,Grande'Anse,2,0,0,0.0,20200415,HT,Haiti,Haïti,Ayiti,HT08,Grande'Anse,Grande'Anse,Grandans,4.810653e+05,229914,251152
3,Nippes,16,2,0,0.0,20200415,HT,Haiti,Haïti,Ayiti,HT10,Nippes,Nippes,Nip,3.515933e+05,167185,184409
4,Nord,28,0,0,0.0,20200415,HT,Haiti,Haïti,Ayiti,HT03,North,Nord,Nò,1.159762e+06,589825,569932

In [18]:
covid_cases1 = covid_cases1[["cas_suspects","cas_confirmes","deces","taux_de_letalite","date_Id","adm1code"]]

## spa DataFrame

In [19]:
spa.head()

,Unnamed: 0,index,facil,depart,departn,vilcom,vilcomn,factype,facdesc_1,facdesc,mga,service_laboratory,num_beds,ambulance,full_time
0,0,0,1,1,Ouest,11,Port-Au-Prince,7.0,DISPENSAIRE,DISPENSAIRE,3,1.0,NaN,3.0,5.0
1,1,1,2,1,Ouest,11,Port-Au-Prince,3.0,HOPITAL,HOPITAL COMMUNAUTAIRE DE REFERENCE,1,1.0,25.0,3.0,18.0
2,2,2,3,1,Ouest,11,Port-Au-Prince,6.0,CENTRE DE SANTE SANS LIT,CENTRE DE SANTE SANS LIT,3,1.0,201.0,1.0,141.0
3,3,3,4,1,Ouest,11,Port-Au-Prince,5.0,CENTRE DE SANTE AVEC LIT,CENTRE DE SANTE AVEC LIT,3,1.0,7.0,3.0,13.0
4,4,4,5,1,Ouest,11,Port-Au-Prince,6.0,CENTRE DE SANTE SANS LIT,CENTRE DE SANTE SANS LIT,2,1.0,NaN,3.0,10.0

In [20]:
spa["depart"] = spa.depart.apply(lambda x: "0"+str(x) if len(str(x)) == 1 else str(x))
spa["vilcom"] = spa.vilcom.apply(lambda x: "0"+str(x) if len(str(x)) == 1 else str(x))
spa["code"] = "HT"
spa["commune_id"] = spa["code"] + spa["depart"] + spa["vilcom"]

In [21]:
for_Commune_DF = spa[["vilcom", "vilcomn"]]

In [22]:
spa.drop(columns=["Unnamed: 0","index", "facil", "vilcom", "depart", "code", "departn", "vilcomn", "facdesc"], inplace=True)

In [23]:
spa.head()

,factype,facdesc_1,mga,service_laboratory,num_beds,ambulance,full_time,commune_id
0,7.0,DISPENSAIRE,3,1.0,NaN,3.0,5.0,HT0111
1,3.0,HOPITAL,1,1.0,25.0,3.0,18.0,HT0111
2,6.0,CENTRE DE SANTE SANS LIT,3,1.0,201.0,1.0,141.0,HT0111
3,5.0,CENTRE DE SANTE AVEC LIT,3,1.0,7.0,3.0,13.0,HT0111
4,6.0,CENTRE DE SANTE SANS LIT,2,1.0,NaN,3.0,10.0,HT0111

In [24]:
facdesc0L = list(spa.facdesc_1.unique())
facdesc0L

facdesc0 = pd.DataFrame(facdesc0L, columns=["facdesc",])
facdesc0["index"] = facdesc0.index+1
facdesc0.set_index("index", inplace=True)
facdesc_table = facdesc0
facdesc_table

                        facdesc
index
1                   DISPENSAIRE
2                       HOPITAL
3      CENTRE DE SANTE SANS LIT
4      CENTRE DE SANTE AVEC LIT

In [25]:
spa["facdesc_1"] = spa.facdesc_1.apply(lambda x: facdesc0L.index(x)+1)
spa.head()

,factype,facdesc_1,mga,service_laboratory,num_beds,ambulance,full_time,commune_id
0,7.0,1,3,1.0,NaN,3.0,5.0,HT0111
1,3.0,2,1,1.0,25.0,3.0,18.0,HT0111
2,6.0,3,3,1.0,201.0,1.0,141.0,HT0111
3,5.0,4,3,1.0,7.0,3.0,13.0,HT0111
4,6.0,3,2,1.0,NaN,3.0,10.0,HT0111

In [26]:
spa.facdesc_1.value_counts()

3    375
1    359
4    165
2    134
Name: facdesc_1, dtype: int64

In [27]:
spa.tail()

,factype,facdesc_1,mga,service_laboratory,num_beds,ambulance,full_time,commune_id
1028,6.0,3,2,1.0,NaN,3.0,6.0,HT0121
1029,7.0,1,2,2.0,NaN,3.0,2.0,HT0211
1030,6.0,3,3,1.0,NaN,1.0,6.0,HT0102
1031,6.0,3,3,1.0,NaN,3.0,5.0,HT0606
1032,5.0,4,3,1.0,3.0,3.0,14.0,HT0211

## departement DataFrame

In [28]:
departement.head()

,adm0code,adm0_en,adm0_fr,adm0_ht,adm1code,adm1_en,adm1_fr,adm1_ht,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male
0,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,5.010206e+06,2587360,2422846
1,HT,Haiti,Haïti,Ayiti,HT02,South-East,Sud-Est,Sidès,8.939007e+05,448111,445790
2,HT,Haiti,Haïti,Ayiti,HT03,North,Nord,Nò,1.159762e+06,589825,569932
3,HT,Haiti,Haïti,Ayiti,HT04,North-East,Nord-Est,Nòdès,4.444631e+05,221501,222966
4,HT,Haiti,Haïti,Ayiti,HT05,Artibonite,Artibonite,Latibonit,2.047153e+06,1034065,1013085

In [29]:
departement["IHSI_UNFPA_Total"]=departement["IHSI_UNFPA_2019_female"]+departement["IHSI_UNFPA_2019_male"]

In [30]:
departement.drop(inplace=True, columns=["adm0code", "adm0_en", "adm0_fr", "adm0_ht", "IHSI_UNFPA_2019_male", "IHSI_UNFPA_2019_female"])

In [31]:
departement.set_index("adm1code", inplace=True)
departement

,adm1_en,adm1_fr,adm1_ht,IHSI_UNFPA_2019,IHSI_UNFPA_Total
adm1code,,,,,
HT01,West,Ouest,Lwès,5.010206e+06,5010206
HT02,South-East,Sud-Est,Sidès,8.939007e+05,893901
HT03,North,Nord,Nò,1.159762e+06,1159757
HT04,North-East,Nord-Est,Nòdès,4.444631e+05,444467
HT05,Artibonite,Artibonite,Latibonit,2.047153e+06,2047150
HT06,Centre,Centre,Sant,8.455942e+05,845596
HT07,South,Sud,Sid,7.910850e+05,791084
HT08,Grande'Anse,Grande'Anse,Grandans,4.810653e+05,481066
HT09,North-West,Nord-Ouest,Nòdwès,8.685806e+05,868580
HT10,Nippes,Nippes,Nip,3.515933e+05,351594

## commune DataFrame

In [32]:
commune.head()

,adm0code,adm0_en,adm0_fr,adm0_ht,adm1code,adm1_en,adm1_fr,adm1_ht,adm2code,adm2_en,adm2_fr,adm2_ht,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male
0,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,,1.227540e+06,648353,579188
1,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0112,Delmas,Delmas,,4.914342e+05,258526,232908
2,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0113,Carrefour,Carrefour,,6.357646e+05,333500,302263
3,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0114,Petion-Ville,Pétion-Ville,,4.685251e+05,241407,227118
4,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0115,Kenscoff,Kenscoff,,7.140848e+04,35608,35800

In [33]:
commune["IHSI_UNFPA_2019"]=commune["IHSI_UNFPA_2019_female"]+commune["IHSI_UNFPA_2019_male"]

In [34]:
commune.drop(inplace=True, columns=["adm0code", "adm0_en", "adm0_fr", "adm0_ht", "adm1_en", "adm1_fr", "adm1_ht"])

In [35]:
commune.set_index(inplace=True, keys="adm2code")

In [36]:
commune.head()

,adm1code,adm2_en,adm2_fr,adm2_ht,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male
adm2code,,,,,,,
HT0111,HT01,Port-au-Prince,Port-au-Prince,,1227541,648353,579188
HT0112,HT01,Delmas,Delmas,,491434,258526,232908
HT0113,HT01,Carrefour,Carrefour,,635763,333500,302263
HT0114,HT01,Petion-Ville,Pétion-Ville,,468525,241407,227118
HT0115,HT01,Kenscoff,Kenscoff,,71408,35608,35800

# Data Remote

In [37]:
from sqlalchemy import create_engine

In [38]:
from sqlalchemy import create_engine

In [39]:
user="postgres"
database="covid_19_final"
password="admin"
port="5432"
driver="postgresql://"
hostname="localhost"

connect_string=f"{driver}{user}:{password}@{hostname}:{port}/{database}"
connect_string

'postgresql://postgres:admin@localhost:5432/covid_19_final'

In [40]:
con=create_engine(connect_string)

In [41]:
con

Engine(postgresql://postgres:***@localhost:5432/covid_19_final)

In [42]:
"""
spa.to_sql(name="spa",con=con,if_exists="replace")
commune.to_sql(name="commune",con=con,if_exists="replace")
departement.to_sql(name="department",con=con,if_exists="replace")
covid_cases.to_sql(name="covid_cases",con=con,if_exists="replace")
date_table.to_sql(name="date_table",con=con,if_exists="replace")
mga_table.to_sql(name="mga_table",con=con,if_exists="replace")
facdesc_table.to_sql(name="facdesc_table", con=con,if_exists="replace")
"""

'\nspa.to_sql(name="spa",con=con,if_exists="replace")\ncommune.to_sql(name="commune",con=con,if_exists="replace")\ndepartement.to_sql(name="department",con=con,if_exists="replace")\ncovid_cases.to_sql(name="covid_cases",con=con,if_exists="replace")\ndate_table.to_sql(name="date_table",con=con,if_exists="replace")\nmga_table.to_sql(name="mga_table",con=con,if_exists="replace")\nfacdesc_table.to_sql(name="facdesc_table", con=con,if_exists="replace")\n'

In [43]:
covid_cases.to_sql(name="covid_cases",con=con,if_exists="replace")

# QUESTIONS

## Question 1: Create a relational database with this raw data set.

In [44]:
import psycopg2

In [45]:
%load_ext sql

In [46]:
%sql postgresql://postgres:admin@localhost:5432/covid_19_final

## Question 2. Calculate the number of health facilities per commune.

In [47]:
# SQL statement to query from a PostgreSQL database table
sqlQ2 = %sql SELECT c."adm2_fr", count(spa."facdesc_1") as Quantity From commune as c inner join spa on c."adm2code" = spa."commune_id" group by c."adm2_fr" order by Quantity Desc
print(sqlQ2)

 * postgresql://postgres:***@localhost:5432/covid_19_final
127 rows affected.
+--------------------------------+----------+
|            adm2_fr             | quantity |
+--------------------------------+----------+
|             Delmas             |    77    |
|         Port-au-Prince         |    63    |
|       Croix-Des-Bouquets       |    41    |
|           Carrefour            |    37    |
|            Léogâne             |    28    |
|          Pétion-Ville          |    26    |
|          Cap-Haïtien           |    24    |
|             Jacmel             |    21    |
|           Dessalines           |    21    |
|          Port-de-Paix          |    20    |
|           Jean Rabel           |    19    |
|           Les Cayes            |    19    |
|           Saint-Marc           |    19    |
|         Plaine du Nord         |    16    |
|            Gonaïves            |    16    |
|           Gros Morne           |    15    |
|            Arcahaie            |    15    |
|         Anse à Galets          |    13    |
|            Gressier            |    13    |
|            Jérémie             |    13    |
|      Saint-Louis du Nord       |    12    |
|             Hinche             |    12    |
|            Cabaret             |    12    |
|             Bainet             |    12    |
|            Kenscoff            |    11    |
|           Cavaillon            |    11    |
|          Petit-Goâve           |    9     |
| Petite Rivière de l'Artibonite |    9     |
|             Pestel             |    9     |
|           Verrettes            |    9     |
|          Côtes de Fer          |    9     |
|             Aquin              |    9     |
|          Ouanaminthe           |    8     |
|          Acul du Nord          |    8     |
|           Mirebalais           |    8     |
|   Saint-Michel de l'Attalaye   |    8     |
|           La Tortue            |    8     |
|         Quartier Morin         |    8     |
|            Ganthier            |    8     |
|       Môle Saint Nicolas       |    7     |
|             Ennery             |    7     |
|          Port-Margot           |    7     |
|           Anse Rouge           |    7     |
|            Limonade            |    7     |
|       Pointe à Raquette        |    7     |
|          Cayes-Jacmel          |    6     |
|            Maïssade            |    6     |
|         Baie de Henne          |    6     |
|         Terrier Rouge          |    6     |
|         Bombardopolis          |    6     |
|            Thiotte             |    6     |
|           Belle Anse           |    5     |
|       Saint louis du Sud       |    5     |
|            Torbeck             |    5     |
|           Plaisance            |    5     |
|          Camp-Perrin           |    5     |
|           Belladère            |    5     |
|           Dame Marie           |    5     |
|           Port-Salut           |    5     |
|          Grand-Goâve           |    5     |
|             Milot              |    5     |
|             Limbé              |    5     |
|          Trou du Nord          |    4     |
|         Anse-à-Foleur          |    4     |
|            Roseaux             |    4     |
|          Fort-Liberté          |    4     |
|          Boucan Carré          |    4     |
|            Marigot             |    4     |
|            L'Estère            |    4     |
|        Fonds-Verrettes         |    4     |
|     Grande Riviere Du Nord     |    4     |
|             Corail             |    4     |
|        Anse d'Hainault         |    4     |
|           Lascahobas           |    4     |
|          Bassin Bleu           |    4     |
|            Ferrier             |    3     |
|         Cerca Carvajal         |    3     |
|             Carice             |    3     |
|            Desdunes            |    3     |
|             Borgne             |    3     |
|             Moron              |    3     |
|            Maniche             |    3     |
|          Grand Gosier          |    3     |
|            Thomonde            |    3     |
|     Cornillon / Grand Bois     |    3     |
|          Anse-à-Pître          |    3     |
|           Chambellan           |    3     |
|           Savanette            |    3     |
|          Thomassique           |    2     |
|       Saint Jean du Sud        |    2     |
|          Terre Neuve           |    2     |
|             Pignon             |    2     |
|        Cerca La Source         |    2     |
|         Sainte Suzanne         |    2     |
|             Bahon              |    2     |
|            Côteaux             |    2     |
|           Ranquitte            |    2     |
|          Île à Vache           |    2     |
|            Abricots            |    2     |
|           Vallières            |    2     |
|            Perches             |    2     |
|           Capotille            |    2     |
|            Beaumont            |    2     |
|         Mombin Crochu          |    2     |
|           Bas Limbé            |    2     |
|          La Victoire           |    2     |
|           Thomazeau            |    2     |
|            Caracol             |    2     |
|             Pilate             |    2     |
|            Arniquet            |    2     |
|         Grande Saline          |    2     |
|         Chardonnières          |    2     |
|           Les Irois            |    2     |
|         Saint-Raphaël          |    2     |
|           Saut d'Eau           |    2     |
|            Chantal             |    2     |
|             Dondon             |    2     |
|           La Vallée            |    1     |
|         Roche à Bâteau         |    1     |
|          Les Anglais           |    1     |
|            Tiburon             |    1     |
|           Marmelade            |    1     |
|         Mont-Organisé          |    1     |
|          La Chapelle           |    1     |
|         Port-à-Piment          |    1     |
|           Chamsolme            |    1     |
|             Bonbon             |    1     |
+--------------------------------+----------+

## Question 3. Calculate the number of health facilities by commune and by type of health facility.

In [48]:
sqlQ3 = %sql SELECT c."adm2_fr", facdesc_table."facdesc" as Type_Health_Facilities, count(spa."facdesc_1") as Quantity From commune as c Inner join spa on c."adm2code" = spa."commune_id" Inner join facdesc_table On facdesc_table."index"=spa."facdesc_1" Group by c."adm2_fr", Type_Health_Facilities Order by adm2_fr, Quantity DESC
print(sqlQ3)

 * postgresql://postgres:***@localhost:5432/covid_19_final
322 rows affected.
+--------------------------------+--------------------------+----------+
|            adm2_fr             |  type_health_facilities  | quantity |
+--------------------------------+--------------------------+----------+
|            Abricots            | CENTRE DE SANTE SANS LIT |    2     |
|          Acul du Nord          | CENTRE DE SANTE SANS LIT |    4     |
|          Acul du Nord          |       DISPENSAIRE        |    3     |
|          Acul du Nord          |         HOPITAL          |    1     |
|         Anse-à-Foleur          |       DISPENSAIRE        |    3     |
|         Anse-à-Foleur          | CENTRE DE SANTE AVEC LIT |    1     |
|          Anse-à-Pître          | CENTRE DE SANTE AVEC LIT |    2     |
|          Anse-à-Pître          |       DISPENSAIRE        |    1     |
|         Anse à Galets          | CENTRE DE SANTE SANS LIT |    8     |
|         Anse à Galets          |       DISPENSAIRE        |    2     |
|         Anse à Galets          | CENTRE DE SANTE AVEC LIT |    2     |
|         Anse à Galets          |         HOPITAL          |    1     |
|        Anse d'Hainault         |       DISPENSAIRE        |    3     |
|        Anse d'Hainault         |         HOPITAL          |    1     |
|           Anse Rouge           |       DISPENSAIRE        |    6     |
|           Anse Rouge           | CENTRE DE SANTE AVEC LIT |    1     |
|             Aquin              |       DISPENSAIRE        |    4     |
|             Aquin              | CENTRE DE SANTE AVEC LIT |    2     |
|             Aquin              |         HOPITAL          |    2     |
|             Aquin              | CENTRE DE SANTE SANS LIT |    1     |
|            Arcahaie            | CENTRE DE SANTE SANS LIT |    7     |
|            Arcahaie            |       DISPENSAIRE        |    6     |
|            Arcahaie            |         HOPITAL          |    2     |
|            Arniquet            | CENTRE DE SANTE SANS LIT |    1     |
|            Arniquet            |       DISPENSAIRE        |    1     |
|             Bahon              | CENTRE DE SANTE SANS LIT |    1     |
|             Bahon              |       DISPENSAIRE        |    1     |
|         Baie de Henne          |       DISPENSAIRE        |    4     |
|         Baie de Henne          | CENTRE DE SANTE SANS LIT |    2     |
|             Bainet             |       DISPENSAIRE        |    9     |
|             Bainet             | CENTRE DE SANTE SANS LIT |    2     |
|             Bainet             | CENTRE DE SANTE AVEC LIT |    1     |
|           Bas Limbé            | CENTRE DE SANTE SANS LIT |    1     |
|           Bas Limbé            |       DISPENSAIRE        |    1     |
|          Bassin Bleu           |       DISPENSAIRE        |    3     |
|          Bassin Bleu           |         HOPITAL          |    1     |
|            Beaumont            | CENTRE DE SANTE AVEC LIT |    1     |
|            Beaumont            |       DISPENSAIRE        |    1     |
|           Belladère            | CENTRE DE SANTE SANS LIT |    2     |
|           Belladère            | CENTRE DE SANTE AVEC LIT |    1     |
|           Belladère            |       DISPENSAIRE        |    1     |
|           Belladère            |         HOPITAL          |    1     |
|           Belle Anse           | CENTRE DE SANTE SANS LIT |    3     |
|           Belle Anse           |       DISPENSAIRE        |    1     |
|           Belle Anse           | CENTRE DE SANTE AVEC LIT |    1     |
|         Bombardopolis          |       DISPENSAIRE        |    5     |
|         Bombardopolis          | CENTRE DE SANTE AVEC LIT |    1     |
|             Bonbon             |       DISPENSAIRE        |    1     |
|             Borgne             | CENTRE DE SANTE AVEC LIT |    2     |
|             Borgne             |       DISPENSAIRE        |    1     |
|          Boucan Carré          | CENTRE DE SANTE AVEC LIT |    2     |
|          Boucan Carré          | CENTRE DE SANTE SANS LIT |    1     |
|          Boucan Carré          |         HOPITAL          |    1     |
|            Cabaret             | CENTRE DE SANTE SANS LIT |    8     |
|            Cabaret             | CENTRE DE SANTE AVEC LIT |    4     |
|          Camp-Perrin           |       DISPENSAIRE        |    3     |
|          Camp-Perrin           | CENTRE DE SANTE AVEC LIT |    1     |
|          Camp-Perrin           |         HOPITAL          |    1     |
|          Cap-Haïtien           | CENTRE DE SANTE SANS LIT |    14    |
|          Cap-Haïtien           |         HOPITAL          |    5     |
|          Cap-Haïtien           | CENTRE DE SANTE AVEC LIT |    3     |
|          Cap-Haïtien           |       DISPENSAIRE        |    2     |
|           Capotille            | CENTRE DE SANTE AVEC LIT |    1     |
|           Capotille            |       DISPENSAIRE        |    1     |
|            Caracol             |       DISPENSAIRE        |    1     |
|            Caracol             | CENTRE DE SANTE SANS LIT |    1     |
|             Carice             | CENTRE DE SANTE SANS LIT |    1     |
|             Carice             | CENTRE DE SANTE AVEC LIT |    1     |
|             Carice             |       DISPENSAIRE        |    1     |
|           Carrefour            | CENTRE DE SANTE SANS LIT |    20    |
|           Carrefour            | CENTRE DE SANTE AVEC LIT |    10    |
|           Carrefour            |         HOPITAL          |    4     |
|           Carrefour            |       DISPENSAIRE        |    3     |
|           Cavaillon            | CENTRE DE SANTE SANS LIT |    7     |
|           Cavaillon            |       DISPENSAIRE        |    3     |
|           Cavaillon            |         HOPITAL          |    1     |
|          Cayes-Jacmel          | CENTRE DE SANTE AVEC LIT |    3     |
|          Cayes-Jacmel          |       DISPENSAIRE        |    2     |
|          Cayes-Jacmel          |         HOPITAL          |    1     |
|         Cerca Carvajal         | CENTRE DE SANTE SANS LIT |    1     |
|         Cerca Carvajal         | CENTRE DE SANTE AVEC LIT |    1     |
|         Cerca Carvajal         |       DISPENSAIRE        |    1     |
|        Cerca La Source         | CENTRE DE SANTE AVEC LIT |    2     |
|           Chambellan           |       DISPENSAIRE        |    2     |
|           Chambellan           | CENTRE DE SANTE SANS LIT |    1     |
|           Chamsolme            | CENTRE DE SANTE AVEC LIT |    1     |
|            Chantal             | CENTRE DE SANTE SANS LIT |    1     |
|            Chantal             | CENTRE DE SANTE AVEC LIT |    1     |
|         Chardonnières          |       DISPENSAIRE        |    2     |
|             Corail             |       DISPENSAIRE        |    3     |
|             Corail             |         HOPITAL          |    1     |
|     Cornillon / Grand Bois     | CENTRE DE SANTE SANS LIT |    1     |
|     Cornillon / Grand Bois     |       DISPENSAIRE        |    1     |
|     Cornillon / Grand Bois     | CENTRE DE SANTE AVEC LIT |    1     |
|            Côteaux             |       DISPENSAIRE        |    1     |
|            Côteaux             | CENTRE DE SANTE SANS LIT |    1     |
|          Côtes de Fer          |       DISPENSAIRE        |    5     |
|          Côtes de Fer          | CENTRE DE SANTE SANS LIT |    2     |
|          Côtes de Fer          | CENTRE DE SANTE AVEC LIT |    1     |
|          Côtes de Fer          |         HOPITAL          |    1     |
|       Croix-Des-Bouquets       | CENTRE DE SANTE SANS LIT |    21    |
|       Croix-Des-Bouquets       | CENTRE DE SANTE AVEC LIT |    11    |
|       Croix-Des-Bouquets       |         HOPITAL          |    8     |
|       Croix-Des-Bouquets       |       DISPENSAIRE        |    1     |
|           Dame Marie           |       DISPENSAIRE        |    2     |
|           Dame Marie           | CENTRE DE SANTE SANS LIT |    2     |
|           Dame Marie           |         HOPITAL          |    1     |
|             Delmas             | CENTRE DE SANTE SANS LIT |    39    |
|             Delmas             |         HOPITAL          |    21    |
|             Delmas             | CENTRE DE SANTE AVEC LIT |    16    |
|             Delmas             |       DISPENSAIRE        |    1     |
|            Desdunes            |       DISPENSAIRE        |    2     |
|            Desdunes            | CENTRE DE SANTE AVEC LIT |    1     |
|           Dessalines           |       DISPENSAIRE        |    15    |
|           Dessalines           | CENTRE DE SANTE AVEC LIT |    3     |
|           Dessalines           | CENTRE DE SANTE SANS LIT |    2     |
|           Dessalines           |         HOPITAL          |    1     |
|             Dondon             |       DISPENSAIRE        |    1     |
|             Dondon             | CENTRE DE SANTE AVEC LIT |    1     |
|             Ennery             |       DISPENSAIRE        |    4     |
|             Ennery             | CENTRE DE SANTE SANS LIT |    2     |
|             Ennery             |         HOPITAL          |    1     |
|            Ferrier             |       DISPENSAIRE        |    3     |
|        Fonds-Verrettes         |       DISPENSAIRE        |    2     |
|        Fonds-Verrettes         | CENTRE DE SANTE SANS LIT |    1     |
|        Fonds-Verrettes         | CENTRE DE SANTE AVEC LIT |    1     |
|          Fort-Liberté          |       DISPENSAIRE        |    3     |
|          Fort-Liberté          |         HOPITAL          |    1     |
|            Ganthier            | CENTRE DE SANTE SANS LIT |    5     |
|            Ganthier            |       DISPENSAIRE        |    1     |
|            Ganthier            | CENTRE DE SANTE AVEC LIT |    1     |
|            Ganthier            |         HOPITAL          |    1     |
|            Gonaïves            |       DISPENSAIRE        |    8     |
|            Gonaïves            | CENTRE DE SANTE SANS LIT |    5     |
|            Gonaïves            |         HOPITAL          |    2     |
|            Gonaïves            | CENTRE DE SANTE AVEC LIT |    1     |
|          Grand-Goâve           |       DISPENSAIRE        |    3     |
|          Grand-Goâve           | CENTRE DE SANTE AVEC LIT |    1     |
|          Grand-Goâve           |         HOPITAL          |    1     |
|          Grand Gosier          | CENTRE DE SANTE SANS LIT |    2     |
|          Grand Gosier          |       DISPENSAIRE        |    1     |
|     Grande Riviere Du Nord     |       DISPENSAIRE        |    2     |
|     Grande Riviere Du Nord     | CENTRE DE SANTE SANS LIT |    1     |
|     Grande Riviere Du Nord     |         HOPITAL          |    1     |
|         Grande Saline          | CENTRE DE SANTE AVEC LIT |    1     |
|         Grande Saline          |       DISPENSAIRE        |    1     |
|            Gressier            | CENTRE DE SANTE SANS LIT |    6     |
|            Gressier            | CENTRE DE SANTE AVEC LIT |    5     |
|            Gressier            |       DISPENSAIRE        |    2     |
|           Gros Morne           |       DISPENSAIRE        |    10    |
|           Gros Morne           | CENTRE DE SANTE AVEC LIT |    2     |
|           Gros Morne           | CENTRE DE SANTE SANS LIT |    2     |
|           Gros Morne           |         HOPITAL          |    1     |
|             Hinche             |       DISPENSAIRE        |    6     |
|             Hinche             | CENTRE DE SANTE SANS LIT |    4     |
|             Hinche             |         HOPITAL          |    1     |
|             Hinche             | CENTRE DE SANTE AVEC LIT |    1     |
|          Île à Vache           |       DISPENSAIRE        |    1     |
|          Île à Vache           | CENTRE DE SANTE SANS LIT |    1     |
|             Jacmel             | CENTRE DE SANTE SANS LIT |    9     |
|             Jacmel             |       DISPENSAIRE        |    7     |
|             Jacmel             | CENTRE DE SANTE AVEC LIT |    3     |
|             Jacmel             |         HOPITAL          |    2     |
|           Jean Rabel           |       DISPENSAIRE        |    18    |
|           Jean Rabel           |         HOPITAL          |    1     |
|            Jérémie             |       DISPENSAIRE        |    6     |
|            Jérémie             | CENTRE DE SANTE SANS LIT |    5     |
|            Jérémie             |         HOPITAL          |    1     |
|            Jérémie             | CENTRE DE SANTE AVEC LIT |    1     |
|            Kenscoff            |       DISPENSAIRE        |    8     |
|            Kenscoff            |         HOPITAL          |    2     |
|            Kenscoff            | CENTRE DE SANTE SANS LIT |    1     |
|            L'Estère            |         HOPITAL          |    1     |
|            L'Estère            | CENTRE DE SANTE AVEC LIT |    1     |
|            L'Estère            | CENTRE DE SANTE SANS LIT |    1     |
|            L'Estère            |       DISPENSAIRE        |    1     |
|          La Chapelle           | CENTRE DE SANTE AVEC LIT |    1     |
|           La Tortue            |       DISPENSAIRE        |    4     |
|           La Tortue            | CENTRE DE SANTE SANS LIT |    2     |
|           La Tortue            |         HOPITAL          |    1     |
|           La Tortue            | CENTRE DE SANTE AVEC LIT |    1     |
|           La Vallée            | CENTRE DE SANTE AVEC LIT |    1     |
|          La Victoire           | CENTRE DE SANTE AVEC LIT |    2     |
|           Lascahobas           | CENTRE DE SANTE AVEC LIT |    2     |
|           Lascahobas           |         HOPITAL          |    1     |
|           Lascahobas           | CENTRE DE SANTE SANS LIT |    1     |
|            Léogâne             | CENTRE DE SANTE SANS LIT |    15    |
|            Léogâne             |         HOPITAL          |    6     |
|            Léogâne             | CENTRE DE SANTE AVEC LIT |    4     |
|            Léogâne             |       DISPENSAIRE        |    3     |
|          Les Anglais           | CENTRE DE SANTE AVEC LIT |    1     |
|           Les Cayes            |         HOPITAL          |    6     |
|           Les Cayes            |       DISPENSAIRE        |    6     |
|           Les Cayes            | CENTRE DE SANTE SANS LIT |    5     |
|           Les Cayes            | CENTRE DE SANTE AVEC LIT |    2     |
|           Les Irois            |       DISPENSAIRE        |    1     |
|           Les Irois            | CENTRE DE SANTE AVEC LIT |    1     |
|             Limbé              |         HOPITAL          |    2     |
|             Limbé              | CENTRE DE SANTE SANS LIT |    2     |
|             Limbé              | CENTRE DE SANTE AVEC LIT |    1     |
|            Limonade            | CENTRE DE SANTE SANS LIT |    7     |
|            Maïssade            |       DISPENSAIRE        |    4     |
|            Maïssade            | CENTRE DE SANTE AVEC LIT |    1     |
|            Maïssade            | CENTRE DE SANTE SANS LIT |    1     |
|            Maniche             |       DISPENSAIRE        |    2     |
|            Maniche             | CENTRE DE SANTE SANS LIT |    1     |
|            Marigot             | CENTRE DE SANTE SANS LIT |    2     |
|            Marigot             |       DISPENSAIRE        |    2     |
|           Marmelade            | CENTRE DE SANTE AVEC LIT |    1     |
|             Milot              |       DISPENSAIRE        |    2     |
|             Milot              | CENTRE DE SANTE SANS LIT |    2     |
|             Milot              |         HOPITAL          |    1     |
|           Mirebalais           | CENTRE DE SANTE SANS LIT |    4     |
|           Mirebalais           |       DISPENSAIRE        |    3     |
|           Mirebalais           |         HOPITAL          |    1     |
|       Môle Saint Nicolas       |       DISPENSAIRE        |    5     |
|       Môle Saint Nicolas       | CENTRE DE SANTE AVEC LIT |    2     |
|         Mombin Crochu          | CENTRE DE SANTE AVEC LIT |    2     |
|         Mont-Organisé          | CENTRE DE SANTE AVEC LIT |    1     |
|             Moron              | CENTRE DE SANTE SANS LIT |    2     |
|             Moron              |       DISPENSAIRE        |    1     |
|          Ouanaminthe           |       DISPENSAIRE        |    4     |
|          Ouanaminthe           | CENTRE DE SANTE AVEC LIT |    2     |
|          Ouanaminthe           | CENTRE DE SANTE SANS LIT |    2     |
|            Perches             |       DISPENSAIRE        |    2     |
|             Pestel             |       DISPENSAIRE        |    7     |
|             Pestel             | CENTRE DE SANTE AVEC LIT |    2     |
|          Pétion-Ville          | CENTRE DE SANTE SANS LIT |    16    |
|          Pétion-Ville          |         HOPITAL          |    7     |
|          Pétion-Ville          |       DISPENSAIRE        |    2     |
|          Pétion-Ville          | CENTRE DE SANTE AVEC LIT |    1     |
|          Petit-Goâve           | CENTRE DE SANTE SANS LIT |    6     |
|          Petit-Goâve           |       DISPENSAIRE        |    2     |
|          Petit-Goâve           |         HOPITAL          |    1     |
| Petite Rivière de l'Artibonite |       DISPENSAIRE        |    5     |
| Petite Rivière de l'Artibonite | CENTRE DE SANTE SANS LIT |    3     |
| Petite Rivière de l'Artibonite |         HOPITAL          |    1     |
|             Pignon             |         HOPITAL          |    1     |
|             Pignon             |       DISPENSAIRE        |    1     |
|             Pilate             | CENTRE DE SANTE SANS LIT |    1     |
|             Pilate             |         HOPITAL          |    1     |
|         Plaine du Nord         | CENTRE DE SANTE SANS LIT |    7     |
|         Plaine du Nord         |         HOPITAL          |    5     |
|         Plaine du Nord         |       DISPENSAIRE        |    3     |
|         Plaine du Nord         | CENTRE DE SANTE AVEC LIT |    1     |
|           Plaisance            |       DISPENSAIRE        |    3     |
|           Plaisance            | CENTRE DE SANTE AVEC LIT |    1     |
|           Plaisance            | CENTRE DE SANTE SANS LIT |    1     |
|       Pointe à Raquette        |       DISPENSAIRE        |    3     |
|       Pointe à Raquette        | CENTRE DE SANTE SANS LIT |    2     |
|       Pointe à Raquette        | CENTRE DE SANTE AVEC LIT |    2     |
|         Port-à-Piment          |         HOPITAL          |    1     |
|         Port-au-Prince         | CENTRE DE SANTE SANS LIT |    39    |
|         Port-au-Prince         |         HOPITAL          |    16    |
|         Port-au-Prince         | CENTRE DE SANTE AVEC LIT |    6     |
|         Port-au-Prince         |       DISPENSAIRE        |    2     |
|          Port-de-Paix          |       DISPENSAIRE        |    13    |
|          Port-de-Paix          | CENTRE DE SANTE SANS LIT |    4     |
|          Port-de-Paix          |         HOPITAL          |    2     |
|          Port-de-Paix          | CENTRE DE SANTE AVEC LIT |    1     |
|          Port-Margot           | CENTRE DE SANTE SANS LIT |    5     |
|          Port-Margot           | CENTRE DE SANTE AVEC LIT |    1     |
|          Port-Margot           |       DISPENSAIRE        |    1     |
|           Port-Salut           |       DISPENSAIRE        |    3     |
|           Port-Salut           |         HOPITAL          |    1     |
|           Port-Salut           | CENTRE DE SANTE AVEC LIT |    1     |
|         Quartier Morin         |       DISPENSAIRE        |    4     |
|         Quartier Morin         | CENTRE DE SANTE SANS LIT |    2     |
|         Quartier Morin         | CENTRE DE SANTE AVEC LIT |    1     |

## Question 4. Calculate the number of health facilities by municipality and by department.

In [49]:
sqlQ4= %sql SELECT department."adm1_fr", c."adm2_fr",  count(spa."facdesc_1") as Nbr_of_fascilities From commune as c Inner join spa on c."adm2code" = spa."commune_id" Inner join department On department."adm1code"=c."adm1code" Group by c."adm2_fr", department."adm1_fr" Order by adm1_fr, Nbr_of_fascilities DESC
print(sqlQ4)

 * postgresql://postgres:***@localhost:5432/covid_19_final
127 rows affected.
+-------------+--------------------------------+--------------------+
|   adm1_fr   |            adm2_fr             | nbr_of_fascilities |
+-------------+--------------------------------+--------------------+
|  Artibonite |           Dessalines           |         21         |
|  Artibonite |           Saint-Marc           |         19         |
|  Artibonite |            Gonaïves            |         16         |
|  Artibonite |           Gros Morne           |         15         |
|  Artibonite | Petite Rivière de l'Artibonite |         9          |
|  Artibonite |           Verrettes            |         9          |
|  Artibonite |   Saint-Michel de l'Attalaye   |         8          |
|  Artibonite |             Ennery             |         7          |
|  Artibonite |           Anse Rouge           |         7          |
|  Artibonite |            L'Estère            |         4          |
|  Artibonite |            Desdunes            |         3          |
|  Artibonite |         Grande Saline          |         2          |
|  Artibonite |          Terre Neuve           |         2          |
|  Artibonite |          La Chapelle           |         1          |
|  Artibonite |           Marmelade            |         1          |
|    Centre   |             Hinche             |         12         |
|    Centre   |           Mirebalais           |         8          |
|    Centre   |            Maïssade            |         6          |
|    Centre   |           Belladère            |         5          |
|    Centre   |          Boucan Carré          |         4          |
|    Centre   |           Lascahobas           |         4          |
|    Centre   |         Cerca Carvajal         |         3          |
|    Centre   |           Savanette            |         3          |
|    Centre   |            Thomonde            |         3          |
|    Centre   |          Thomassique           |         2          |
|    Centre   |        Cerca La Source         |         2          |
|    Centre   |           Saut d'Eau           |         2          |
| Grande'Anse |            Jérémie             |         13         |
| Grande'Anse |             Pestel             |         9          |
| Grande'Anse |           Dame Marie           |         5          |
| Grande'Anse |            Roseaux             |         4          |
| Grande'Anse |             Corail             |         4          |
| Grande'Anse |        Anse d'Hainault         |         4          |
| Grande'Anse |             Moron              |         3          |
| Grande'Anse |           Chambellan           |         3          |
| Grande'Anse |            Abricots            |         2          |
| Grande'Anse |            Beaumont            |         2          |
| Grande'Anse |           Les Irois            |         2          |
| Grande'Anse |             Bonbon             |         1          |
|     Nord    |          Cap-Haïtien           |         24         |
|     Nord    |         Plaine du Nord         |         16         |
|     Nord    |         Quartier Morin         |         8          |
|     Nord    |          Acul du Nord          |         8          |
|     Nord    |            Limonade            |         7          |
|     Nord    |          Port-Margot           |         7          |
|     Nord    |           Plaisance            |         5          |
|     Nord    |             Limbé              |         5          |
|     Nord    |             Milot              |         5          |
|     Nord    |     Grande Riviere Du Nord     |         4          |
|     Nord    |             Borgne             |         3          |
|     Nord    |           Bas Limbé            |         2          |
|     Nord    |         Saint-Raphaël          |         2          |
|     Nord    |             Pilate             |         2          |
|     Nord    |             Dondon             |         2          |
|     Nord    |             Bahon              |         2          |
|     Nord    |           Ranquitte            |         2          |
|     Nord    |             Pignon             |         2          |
|     Nord    |          La Victoire           |         2          |
|   Nord-Est  |          Ouanaminthe           |         8          |
|   Nord-Est  |         Terrier Rouge          |         6          |
|   Nord-Est  |          Trou du Nord          |         4          |
|   Nord-Est  |          Fort-Liberté          |         4          |
|   Nord-Est  |             Carice             |         3          |
|   Nord-Est  |            Ferrier             |         3          |
|   Nord-Est  |            Perches             |         2          |
|   Nord-Est  |           Capotille            |         2          |
|   Nord-Est  |           Vallières            |         2          |
|   Nord-Est  |            Caracol             |         2          |
|   Nord-Est  |         Sainte Suzanne         |         2          |
|   Nord-Est  |         Mombin Crochu          |         2          |
|   Nord-Est  |         Mont-Organisé          |         1          |
|  Nord-Ouest |          Port-de-Paix          |         20         |
|  Nord-Ouest |           Jean Rabel           |         19         |
|  Nord-Ouest |      Saint-Louis du Nord       |         12         |
|  Nord-Ouest |           La Tortue            |         8          |
|  Nord-Ouest |       Môle Saint Nicolas       |         7          |
|  Nord-Ouest |         Bombardopolis          |         6          |
|  Nord-Ouest |         Baie de Henne          |         6          |
|  Nord-Ouest |          Bassin Bleu           |         4          |
|  Nord-Ouest |         Anse-à-Foleur          |         4          |
|  Nord-Ouest |           Chamsolme            |         1          |
|    Ouest    |             Delmas             |         77         |
|    Ouest    |         Port-au-Prince         |         63         |
|    Ouest    |       Croix-Des-Bouquets       |         41         |
|    Ouest    |           Carrefour            |         37         |
|    Ouest    |            Léogâne             |         28         |
|    Ouest    |          Pétion-Ville          |         26         |
|    Ouest    |            Arcahaie            |         15         |
|    Ouest    |         Anse à Galets          |         13         |
|    Ouest    |            Gressier            |         13         |
|    Ouest    |            Cabaret             |         12         |
|    Ouest    |            Kenscoff            |         11         |
|    Ouest    |          Petit-Goâve           |         9          |
|    Ouest    |            Ganthier            |         8          |
|    Ouest    |       Pointe à Raquette        |         7          |
|    Ouest    |          Grand-Goâve           |         5          |
|    Ouest    |        Fonds-Verrettes         |         4          |
|    Ouest    |     Cornillon / Grand Bois     |         3          |
|    Ouest    |           Thomazeau            |         2          |
|     Sud     |           Les Cayes            |         19         |
|     Sud     |           Cavaillon            |         11         |
|     Sud     |             Aquin              |         9          |
|     Sud     |          Camp-Perrin           |         5          |
|     Sud     |           Port-Salut           |         5          |
|     Sud     |            Torbeck             |         5          |
|     Sud     |       Saint louis du Sud       |         5          |
|     Sud     |            Maniche             |         3          |
|     Sud     |            Côteaux             |         2          |
|     Sud     |            Chantal             |         2          |
|     Sud     |         Chardonnières          |         2          |
|     Sud     |            Arniquet            |         2          |
|     Sud     |       Saint Jean du Sud        |         2          |
|     Sud     |          Île à Vache           |         2          |
|     Sud     |         Port-à-Piment          |         1          |
|     Sud     |            Tiburon             |         1          |
|     Sud     |         Roche à Bâteau         |         1          |
|     Sud     |          Les Anglais           |         1          |
|   Sud-Est   |             Jacmel             |         21         |
|   Sud-Est   |             Bainet             |         12         |
|   Sud-Est   |          Côtes de Fer          |         9          |
|   Sud-Est   |            Thiotte             |         6          |
|   Sud-Est   |          Cayes-Jacmel          |         6          |
|   Sud-Est   |           Belle Anse           |         5          |
|   Sud-Est   |            Marigot             |         4          |
|   Sud-Est   |          Grand Gosier          |         3          |
|   Sud-Est   |          Anse-à-Pître          |         3          |
|   Sud-Est   |           La Vallée            |         1          |
+-------------+--------------------------------+--------------------+

## 5-Calculate the number of sites by type (mga) and by department.

In [50]:
sqlQ5 = %sql SELECT department."adm1_fr" as departement, mga_table."mga_name" as mga_type, count(spa."facdesc_1") as Number_of_Health_Facilities From department Inner join commune on commune."adm1code" = department."adm1code" Inner join spa On spa."commune_id"=commune."adm2code" inner join mga_table on mga_table."index"=spa."mga" group by departement, mga_type order by departement
print(sqlQ5)

 * postgresql://postgres:***@localhost:5432/covid_19_final
36 rows affected.
+-------------+---------------------+-----------------------------+
| departement |       mga_type      | number_of_health_facilities |
+-------------+---------------------+-----------------------------+
|  Artibonite |  private and public |              10             |
|  Artibonite |  private non profit |              17             |
|  Artibonite |        public       |              59             |
|  Artibonite | private with profit |              38             |
|    Centre   | private with profit |              9              |
|    Centre   |  private and public |              15             |
|    Centre   |        public       |              24             |
|    Centre   |  private non profit |              6              |
| Grande'Anse | private with profit |              4              |
| Grande'Anse |        public       |              24             |
| Grande'Anse |  private non profit |              5              |
| Grande'Anse |  private and public |              19             |
|     Nord    |  private and public |              21             |
|     Nord    | private with profit |              42             |
|     Nord    |  private non profit |              19             |
|     Nord    |        public       |              26             |
|   Nord-Est  |  private and public |              5              |
|   Nord-Est  |  private non profit |              1              |
|   Nord-Est  | private with profit |              6              |
|   Nord-Est  |        public       |              29             |
|  Nord-Ouest | private with profit |              12             |
|  Nord-Ouest |  private non profit |              9              |
|  Nord-Ouest |  private and public |              13             |
|  Nord-Ouest |        public       |              53             |
|    Ouest    |  private non profit |              92             |
|    Ouest    |        public       |              62             |
|    Ouest    | private with profit |             163             |
|    Ouest    |  private and public |              57             |
|     Sud     |        public       |              29             |
|     Sud     |  private non profit |              9              |
|     Sud     |  private and public |              21             |
|     Sud     | private with profit |              19             |
|   Sud-Est   |        public       |              33             |
|   Sud-Est   | private with profit |              11             |
|   Sud-Est   |  private non profit |              19             |
|   Sud-Est   |  private and public |              7              |
+-------------+---------------------+-----------------------------+

## 6-Calculate the number of sites with an ambulance by commune and by department (ambulance = 1.0)

In [51]:
sqlQ6 = %sql SELECT department."adm1_fr" as departement, commune."adm2_fr", count(distinct commune."adm2_fr") as Number_of_commune_with_an_ambulance From department Inner join commune on commune."adm1code" = department."adm1code" Inner join spa On spa."commune_id"=commune."adm2code" where spa."ambulance" = 1.0 group by departement , adm2_fr order by departement
print(sqlQ6)

 * postgresql://postgres:***@localhost:5432/covid_19_final
80 rows affected.
+-------------+--------------------------------+-------------------------------------+
| departement |            adm2_fr             | number_of_commune_with_an_ambulance |
+-------------+--------------------------------+-------------------------------------+
|  Artibonite |           Anse Rouge           |                  1                  |
|  Artibonite |           Dessalines           |                  1                  |
|  Artibonite |             Ennery             |                  1                  |
|  Artibonite |            Gonaïves            |                  1                  |
|  Artibonite |         Grande Saline          |                  1                  |
|  Artibonite |           Gros Morne           |                  1                  |
|  Artibonite |            L'Estère            |                  1                  |
|  Artibonite | Petite Rivière de l'Artibonite |                  1                  |
|  Artibonite |           Saint-Marc           |                  1                  |
|  Artibonite |   Saint-Michel de l'Attalaye   |                  1                  |
|  Artibonite |          Terre Neuve           |                  1                  |
|  Artibonite |           Verrettes            |                  1                  |
|    Centre   |           Belladère            |                  1                  |
|    Centre   |          Boucan Carré          |                  1                  |
|    Centre   |        Cerca La Source         |                  1                  |
|    Centre   |             Hinche             |                  1                  |
|    Centre   |           Lascahobas           |                  1                  |
|    Centre   |            Maïssade            |                  1                  |
|    Centre   |           Mirebalais           |                  1                  |
|    Centre   |           Savanette            |                  1                  |
|    Centre   |            Thomonde            |                  1                  |
| Grande'Anse |        Anse d'Hainault         |                  1                  |
| Grande'Anse |           Dame Marie           |                  1                  |
| Grande'Anse |            Jérémie             |                  1                  |
| Grande'Anse |           Les Irois            |                  1                  |
| Grande'Anse |             Moron              |                  1                  |
|     Nord    |          Cap-Haïtien           |                  1                  |
|     Nord    |     Grande Riviere Du Nord     |                  1                  |
|     Nord    |             Limbé              |                  1                  |
|     Nord    |             Milot              |                  1                  |
|     Nord    |             Pilate             |                  1                  |
|     Nord    |         Plaine du Nord         |                  1                  |
|     Nord    |          Port-Margot           |                  1                  |
|     Nord    |         Quartier Morin         |                  1                  |
|   Nord-Est  |           Capotille            |                  1                  |
|   Nord-Est  |            Caracol             |                  1                  |
|   Nord-Est  |          Fort-Liberté          |                  1                  |
|   Nord-Est  |         Mombin Crochu          |                  1                  |
|   Nord-Est  |         Mont-Organisé          |                  1                  |
|   Nord-Est  |          Ouanaminthe           |                  1                  |
|   Nord-Est  |         Terrier Rouge          |                  1                  |
|   Nord-Est  |          Trou du Nord          |                  1                  |
|   Nord-Est  |           Vallières            |                  1                  |
|  Nord-Ouest |         Anse-à-Foleur          |                  1                  |
|  Nord-Ouest |         Baie de Henne          |                  1                  |
|  Nord-Ouest |          Bassin Bleu           |                  1                  |
|  Nord-Ouest |         Bombardopolis          |                  1                  |
|  Nord-Ouest |           Chamsolme            |                  1                  |
|  Nord-Ouest |           Jean Rabel           |                  1                  |
|  Nord-Ouest |       Môle Saint Nicolas       |                  1                  |
|  Nord-Ouest |          Port-de-Paix          |                  1                  |
|    Ouest    |         Anse à Galets          |                  1                  |
|    Ouest    |            Cabaret             |                  1                  |
|    Ouest    |           Carrefour            |                  1                  |
|    Ouest    |     Cornillon / Grand Bois     |                  1                  |
|    Ouest    |       Croix-Des-Bouquets       |                  1                  |
|    Ouest    |             Delmas             |                  1                  |
|    Ouest    |        Fonds-Verrettes         |                  1                  |
|    Ouest    |            Ganthier            |                  1                  |
|    Ouest    |          Grand-Goâve           |                  1                  |
|    Ouest    |            Gressier            |                  1                  |
|    Ouest    |            Léogâne             |                  1                  |
|    Ouest    |          Petit-Goâve           |                  1                  |
|    Ouest    |         Port-au-Prince         |                  1                  |
|    Ouest    |           Thomazeau            |                  1                  |
|     Sud     |             Aquin              |                  1                  |
|     Sud     |           Cavaillon            |                  1                  |
|     Sud     |            Chantal             |                  1                  |
|     Sud     |          Île à Vache           |                  1                  |
|     Sud     |           Les Cayes            |                  1                  |
|     Sud     |         Port-à-Piment          |                  1                  |
|     Sud     |           Port-Salut           |                  1                  |
|     Sud     |            Torbeck             |                  1                  |
|   Sud-Est   |          Anse-à-Pître          |                  1                  |
|   Sud-Est   |           Belle Anse           |                  1                  |
|   Sud-Est   |          Cayes-Jacmel          |                  1                  |
|   Sud-Est   |          Côtes de Fer          |                  1                  |
|   Sud-Est   |             Jacmel             |                  1                  |
|   Sud-Est   |            Marigot             |                  1                  |
|   Sud-Est   |            Thiotte             |                  1                  |
+-------------+--------------------------------+-------------------------------------+

## 7-Calculate the number of hospitals per 10k inhabitants by department.

In [52]:
sqlQ7=%sql SELECT department."adm1_fr" as departement, count ( facdesc_table."facdesc") as number_of_hospital, department."IHSI_UNFPA_Total" as total, round(round(count ( facdesc_table."facdesc")*10000,2)/department."IHSI_UNFPA_Total",2) From department Inner join commune on commune."adm1code" = department."adm1code" Inner join spa On spa."commune_id"=commune."adm2code" inner join facdesc_table on spa."facdesc_1"=facdesc_table."index" where facdesc_table."index" = 2 group by adm1_fr, total order by total desc 
print(sqlQ7)

 * postgresql://postgres:***@localhost:5432/covid_19_final
(psycopg2.errors.UndefinedColumn) column department.ihsi_unfpa_total does not exist
LINE 1: ...t ( facdesc_table.facdesc) as number_of_hospital, department...
                                                             ^

[SQL: SELECT department.adm1_fr as departement, count ( facdesc_table.facdesc) as number_of_hospital, department.IHSI_UNFPA_Total as total, round(round(count ( facdesc_table.facdesc)*10000,2)/department.IHSI_UNFPA_Total,2) From department Inner join commune on commune.adm1code = department.adm1code Inner join spa On spa.commune_id=commune.adm2code inner join facdesc_table on spa.facdesc_1=facdesc_table.index where facdesc_table.index = 2 group by adm1_fr, total order by total desc]
(Background on this error at: https://sqlalche.me/e/14/f405)
None

##  8-Calculate the number of sites per 10k inhabitants per department

In [53]:
sqlQ8 = %sql SELECT department."adm1_fr" as departement ,count ( facdesc_table."facdesc") as number_of_hospital, department."IHSI_UNFPA_Total" as total, round(round(count ( facdesc_table."facdesc")*10000,2)/department."IHSI_UNFPA_Total",2) From department Inner join commune on commune."adm1code" = department."adm1code" Inner join spa On spa."commune_id"=commune."adm2code" inner join facdesc_table on spa."facdesc_1"=facdesc_table."index" group by adm1_fr, total order by total desc
print(sqlQ8)

 * postgresql://postgres:***@localhost:5432/covid_19_final
(psycopg2.errors.UndefinedColumn) column department.ihsi_unfpa_total does not exist
LINE 1: ...t ( facdesc_table.facdesc) as number_of_hospital, department...
                                                             ^

[SQL: SELECT department.adm1_fr as departement ,count ( facdesc_table.facdesc) as number_of_hospital, department.IHSI_UNFPA_Total as total, round(round(count ( facdesc_table.facdesc)*10000,2)/department.IHSI_UNFPA_Total,2) From department Inner join commune on commune.adm1code = department.adm1code Inner join spa On spa.commune_id=commune.adm2code inner join facdesc_table on spa.facdesc_1=facdesc_table.index group by adm1_fr, total order by total desc]
(Background on this error at: https://sqlalche.me/e/14/f405)
None

## 9-Calculate the number of beds per 1,000 inhabitants per department

In [57]:
sqlQ9= %sql SELECT department."adm1_fr" as departement, count(spa."num_beds") as number_of_beds, department."IHSI_UNFPA_Total" as total, round(round(count ( spa."num_beds")*1000,2)/department."IHSI_UNFPA_Total",4) as number_of_beds_1000_inhabithants From department Inner join commune on commune."adm1code" = department."adm1code" Inner join spa On spa."commune_id"=commune."adm2code" inner join facdesc_table on spa."facdesc_1"=facdesc_table."index" group by adm1_fr, total order by total desc

 * postgresql://postgres:***@localhost:5432/covid_19_final
(psycopg2.errors.UndefinedColumn) column department.ihsi_unfpa_total does not exist
LINE 1: ...partement, count(spa.num_beds) as number_of_beds, department...
                                                             ^

[SQL: SELECT department.adm1_fr as departement, count(spa.num_beds) as number_of_beds, department.IHSI_UNFPA_Total as total, round(round(count ( spa.num_beds)*1000,2)/department.IHSI_UNFPA_Total,4) as number_of_beds_1000_inhabithants From department Inner join commune on commune.adm1code = department.adm1code Inner join spa On spa.commune_id=commune.adm2code inner join facdesc_table on spa.facdesc_1=facdesc_table.index group by adm1_fr, total order by total desc]
(Background on this error at: https://sqlalche.me/e/14/f405)
None

## 10-How many communes have fewer dispensaries than hospitals

In [58]:
sqlQ10= %sql WITH Hospital as (SELECT department."adm1_fr", commune."adm2_fr" as commune, count ( facdesc_table."facdesc") as hospital from department Inner join commune on commune."adm1code" = department."adm1code" Inner join spa On spa."commune_id"=commune."adm2code" inner join facdesc_table on spa."facdesc_1"=facdesc_table."index" where facdesc_table."index" = 2  group by adm1_fr, commune order by  hospital desc), Dispensaire as (SELECT department."adm1_fr", commune."adm2_fr" as commune, count ( facdesc_table."facdesc") as dispensaire from department Inner join commune on commune."adm1code" = department."adm1code" Inner join spa On spa."commune_id"=commune."adm2code" inner join facdesc_table on spa."facdesc_1"=facdesc_table."index" where facdesc_table."index" = 1 group by adm1_fr, commune order by  dispensaire desc) SELECT h."commune" as commune, Hospital, Dispensaire From Hospital as h inner join Dispensaire as d on h."commune"=d."commune" group by h."commune", Hospital, Dispensaire having Hospital > Dispensaire order by commune
print(sqlQ10)

 * postgresql://postgres:***@localhost:5432/covid_19_final
8 rows affected.
+--------------------+----------+-------------+
|      commune       | hospital | dispensaire |
+--------------------+----------+-------------+
|    Cap-Haïtien     |    5     |      2      |
|     Carrefour      |    4     |      3      |
| Croix-Des-Bouquets |    8     |      1      |
|       Delmas       |    21    |      1      |
|      Léogâne       |    6     |      3      |
|    Pétion-Ville    |    7     |      2      |
|   Plaine du Nord   |    5     |      3      |
|   Port-au-Prince   |    16    |      2      |
+--------------------+----------+-------------+

In [61]:
sqlQ11= %sql SELECT round((sum(covid_cases."deces")/sum(covid_cases."cas_confirmes")),3) as taux_de_letalite, date_table."month" from covid_cases inner join date_table on covid_cases."date_Id"=date_table."date_Id" group by  month

 * postgresql://postgres:***@localhost:5432/covid_19_final
(psycopg2.errors.UndefinedColumn) column covid_cases.date_id does not exist
LINE 1: ...e.month from covid_cases inner join date_table on covid_case...
                                                             ^
HINT:  Perhaps you meant to reference the column "covid_cases.date_Id".

[SQL: SELECT round((sum(covid_cases.deces)/sum(covid_cases.cas_confirmes)),3) as taux_de_letalite, date_table.month from covid_cases inner join date_table on covid_cases.date_Id=date_table.date_Id group by month]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [62]:
sqlQ12= %sql SELECT round((sum(covid_cases."deces")/(sum(commune."IHSI_UNFPA_2019_male")+sum(commune."IHSI_UNFPA_2019_female"))),7) as taux_de_deces, date_table."month" from covid_cases inner join date_table on covid_cases."date_Id"=date_table."date_Id" inner join department on covid_cases."departement"=department."adm1_fr" inner join commune on department."adm1code"=commune."adm1code" group by month
print(sqlQ12)

 * postgresql://postgres:***@localhost:5432/covid_19_final
(psycopg2.errors.UndefinedColumn) column covid_cases.date_id does not exist
LINE 1: ...e.month from covid_cases inner join date_table on covid_case...
                                                             ^
HINT:  Perhaps you meant to reference the column "covid_cases.date_Id".

[SQL: SELECT round((sum(covid_cases.deces)/(sum(commune.IHSI_UNFPA_2019_male)+sum(commune.IHSI_UNFPA_2019_female))),7) as taux_de_deces, date_table.month from covid_cases inner join date_table on covid_cases.date_Id=date_table.date_Id inner join department on covid_cases.departement=department.adm1_fr inner join commune on department.adm1code=commune.adm1code group by month]
(Background on this error at: https://sqlalche.me/e/14/f405)
None

In [ ]:
sqlQ13= %sql SELECT round((sum(covid_cases."cas_suspects"+covid_cases."cas_confirmes")/(sum(commune."IHSI_UNFPA_2019_male")+sum(commune."IHSI_UNFPA_2019_female"))),8) as prevalence, date_table."month" from covid_cases inner join date_table on covid_cases."date_Id"=date_table."date_Id" inner join department on covid_cases."departement"=department."adm1_fr" inner join commune on department."adm1code"=commune."adm1code" group by month
print(sqlQ13)

In [ ]:
sqlQ14= %sql SELECT department."adm1_fr", round((sum(covid_cases."cas_suspects"+covid_cases."cas_confirmes")/(sum(commune."IHSI_UNFPA_2019_male")+sum(commune."IHSI_UNFPA_2019_female"))),8) as Prevalence from covid_cases inner join date_table on covid_cases."date_Id"=date_table."date_Id" inner join department on covid_cases."departement"=department."adm1_fr" inner join commune on department."adm1code"=commune."adm1code" group by department."adm1_fr", month order by Prevalence Desc
print(sqlQ14)

# Before submission:

##